<% include ./partials/header %>
<h1>LOGIN PAGE</h1>
<form action="Login" method="POST">
    <input type="text" name="username" placeholder="usrname">
    <input type="password" name = "password" placeholder="passwd">
    <input type="submit" value = "Login">
</form>
<% include ./partials/footer %>
