<% include ./partials/header %>
<h1>Signup for Campground</h1>
<form action="/Signup" method="POST">
    <input type="text" name="username" placeholder="usrname">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>
</form>
<% include ./partials/footer %>
